html{
    background-color: #869960;
}

body{
    font-family: tahoma,sans-serif;
    font-size:87%;
}

/*Image*/
img{
    max-width: 100%;
    height: auto;
    display:block;
    
    
}

.image-banner{
    position: relative;
    
}

.banner-description{
    position: absolute;
    bottom:0;
    left:0;
    color:white;
    background-color: rgb(0,0,0,.55);
    padding-left: 5px;
    
}




.container{
    width:940px;
    margin-left:auto;
    margin-right:auto;
    background-color: #FFF;
    padding-left: 40px;
	padding-right: 40px
    box-sizing: border-box;
}

header{
    padding-top:20px;
    
    color: #617140;
}
header h1 {
    margin:0;
    font-weight: normal;
    font-size:185%;
    
}

header p{
    margin:0;
}

/*Site navigation*/
.site-nav  {
    margin-top: 20px;
    
}

.site-nav li{
    list-style: none;
    float:left;
    margin-right: 5px;
    
}

.site-nav ul{
    padding:0;
    margin:0;
}

.site-nav a{
    display:block;
    text-decoration: none;
    color: #617140;
    padding:10px 20px;
    border:3px solid #e5e9dc;
    border-bottom: none;
   
}

.site-nav a:hover{
    background-color: #e5e9dc;
    
}
/*end Site navigation*/



.content-area{
    border-top:3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
}

.main-area{
    
    width:66%;
    float:left;
    padding-right:40px;
    box-sizing: border-box;
}



/*Table Styles*/
.col-item{
    width:60%;
    
}

.col-quantity,
.col-price{
    width:20%;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
table th{
    text-align:left;
    background-color: #869960;
    color:#FFF;
    text-shadow:1px 1px 0 rgba(0,0,0,0.4);
}

table th,
table td{
    border:1px solid #869960;
    padding:10px;    
}

table tbody tr:nth-child(odd) td{
    background-color: #e5e9dc;
}


.grocery-list tr :nth-child(1){
    
    padding-left: 15px;
}

.grocery-list tr :nth-child(2),
.grocery-list tr :nth-child(3){
    text-align: center;
}



/*end Table Styles*/

/*side bar*/

.sidebar{
    width:34%;
    float:left;
    background-color: #e5e9dc ;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size:85%;
}

/*Form Styling*/
form{
    background-color: #e5e9dc;
    
    
}

.hidden-label{
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

input,
select{
    font-family: tahoma,sans-serif;
    font-size:100%;
}

input[type="email"],
input[type="password"],
select {
    width:100%;
    display:block;
    box-sizing: border-box;
    padding:4px;
    font-family: tahoma,sans-serif;
    font-size:100%;
    margin-bottom: 5px;
    border: 1px solid #cdcdcd;
    outline:none;
    
}

input[type="email"] :focus,
input[type="password"] :focus{
    
    border: 1px solid #869960;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.13);
    
}

input[type="submit"]{
    width:100%;
    display:block;
    box-sizing: border-box;
    background-color: #869960;
    color:#ffffff;
    border: 1px solid #798A56;
    margin-bottom: 5px;
    
}

input[type="submit"]:hover,

input[type="submit"]:focus{
     
    border:1px solid #535E3B; 
    background-color: #798A56;
     
    
}

.checkbox-text{
    font-size:85%;
    color: #777;
    
}







/*end Form Styling*/
footer{
    text-align: center;
    font-size: 85%;
    color: darkgrey;
    padding-bottom: 20px;
	padding-top: 20px;
}

.fix {
	clear: both;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}
